html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 920px;
    margin: auto;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_list{
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    font-size: 10px;
    font-weight: 700;
    width: auto;
    float: none;
    position: static;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #ffeaea29;
    border-bottom: 1px solid #ffeaea29;
}

.avatar{
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50%;
    width: 300px;
    box-shadow: -2px 2px 17px 4px #181d28;
}

.link{
    font-weight: 400;
    text-decoration: underline;
    color: #3498db;
    font-size: 1em;
}

.header-link{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.4em;
}

body{
    background-color: rgb(28 50 80);
}

h1,h2,h3,h4,h5,h6{
    color: white
}

h1{
    padding-top: 20px;
    font-size: 2em;
    margin-bottom: 0.2em;
}

p{
    color: white;
    font-size: 16px;
    margin-bottom: 1em;
    text-align: justify;
    padding-top: 15px;
}